amqp
billiard
celery==4.3.1
Click==7.0
dnspython==1.15.0
eventlet==0.24.1
Flask==1.0.2
Flask-SocketIO==3.0.2
greenlet
itsdangerous==0.24
Jinja2==2.10
kombu
monotonic==1.5
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2018.5
redis
six==1.11.0
vine
Werkzeug==0.14.1
MarkupSafe==2.0.1
prometheus_flask_exporter